<!DOCTYPE html>
<html>
<head>
  <title>Run Python Script</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  </head>
<body>
  <button id="startButton">Start</button>

  <script>
    $(document).ready(function() {
      $("#startButton").click(function() {
        $.ajax({
          url: "/run_script",
          method: "POST",
          success: function(data) {
            alert(data);
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.error("Error:", textStatus, errorThrown);
            alert("Error executing script!");
          }
        });
      });
    });
  </script>
</body>
</html>
