body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
}
div{
    width: 500px;
    height: 125px;
    background-color: #2E4053;
    position: fixed;
    top: 40%;
    left: 17%;
    border-radius: 10px;
}
h3{
    font-size: 20px;
    color: whitesmoke;
    font-family: sans-serif;
}
button{
    background-color: rgb(245, 115, 115);
    height: 35px;
    width: 100px;
    border-radius: 5px;
    color: black;
}
button::after{
    background-color: rgb(244, 207, 115);
}